{% extends 'core/base.html' %}

{% block title %} Portafolio {% endblock%}

{% block background %}    {% load static %}    {% static 'core/img/portfolio-bg.jpg' %} {% endblock %}

{% block headers %} 
    <h1>Portafolio</h1>
    <span class="subheading">Curriculum</span>
{% endblock %}


{% block content%} 

    {% for projecto in projects %}

        <div class="row project">
            <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid" src="{{projecto.image.url}}" alt="">
            </div>
            <div class="col-lg-7 col-md-8">
                <h2  class="section-heading title" >{{projecto.title}}</h2>
                <p>{{projecto.description}}</p>
                {% if projecto.link %}
                    <p><a href="{{projecto.link}}"> mas informaciones</a></p>
                {% endif  %}
            </div>
        </div>
    {% endfor %}
  

{% endblock%} 

    