{% extends 'core/base.html' %}

{% block title %} Acerca de {% endblock%}

{% block background %}    {% load static %}    {% static 'core/img/about-bg.jpg' %} {% endblock %}

{% block headers %} 
    <h1>Acerca de</h1>
    <span class="subheading">Biografia</span>
{% endblock %}


{% block content%} 
<div class ="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class = "img-fluid avatar "  src="{% static 'core/img/avatar.jpg' %}" >
    </div>
    <div class= "col-lg-7 col-md-8 " >
        <h2 class="section-heading"> Juan Diego Ordoñez </h2> <br/>
        <p> Soy estudiante de ingenieria de sistemas de la Universidad Mariana- 10 semestre.</p>
    </div>
</div>

{% endblock%} 