{% extends 'core/base.html' %}

{% block title %} Contacto {% endblock%}

{% block background %}    {% load static %}    {% static 'core/img/contact-bg.jpg' %} {% endblock %}



{% block headers %} 
    <h1>Contacto</h1>
    <span class="subheading">Para contactarme</span>
{% endblock %}




{% block content %} 
<div class ="row">
<p style="text-align:center">Para contactarme este es mi correo: 
    <a href= "juandie@gmail.com"> juandiego@gmail.com</a>
</p> <br/>
<p style="text-align:center">
   <b>Mi numero de telefono es:</b>  
   3165367774
</p>

</div>

{% endblock%} 